In [1]:
from refit_loader.data_loader import REFIT_Loader

ModuleNotFoundError: No module named 'refit_loader.data_loader'

In [ ]:
%%time
refit = REFIT_Loader()

# Fetch the list of available appliances for selected houses

In [3]:
refit.get_appliance_names(house=2)

Fetching appliances for house = 2

['unix',
 'aggregate',
 'fridge-freezer',
 'washingmachine',
 'dishwasher',
 'televisionsite',
 'microwave',
 'toaster',
 'hi-fi',
 'kettle',
 'overheadfan']

# Load data for selected house (all appliances)

In [4]:
%%time
house2 = refit.get_house_data(house=2)
house3 = refit.get_house_data(house=3)
house14 = refit.get_house_data(house=14)

Loading data for house = 2
Loading data for house = 3
House Number = 14 does not exist in the provided dataset.
CPU times: total: 22.6 s
Wall time: 14.4 s

In [5]:
house2.head()

,unix,aggregate,fridge-freezer,washingmachine,dishwasher,televisionsite,microwave,toaster,hi-fi,kettle,overheadfan
time,,,,,,,,,,,
2013-09-17 22:08:11,1379455691,695,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:18,1379455698,694,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:26,1379455706,694,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:34,1379455714,702,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:42,1379455722,700,88,0,0,0,0,0,0,0,0

# Load data for selected appliance (all houses)

In [6]:
%%time
kettle = refit.get_appliance_data(appliance='Kettle')

Loading data for appliance KETTLE ...
Appliance 'KETTLE' does not exist in house 1. Hint: Check the availability of the appliance by using 'get_appliance_names' method
Fetching KETTLE data for House 2
Fetching KETTLE data for House 3

KeyboardInterrupt

# Load data for selected appliance and selected houses

In [7]:
%%time
kettle = refit.get_appliance_data(appliance="Kettle", houses=[1,2,3])

Loading data for appliance KETTLE ...
Appliance 'KETTLE' does not exist in house 1. Hint: Check the availability of the appliance by using 'get_appliance_names' method
Fetching KETTLE data for House 2

KeyboardInterrupt

In [ ]:
kettle.data[2]

KeyboardInterrupt