In [1]:
from loader.data_loader import REFIT_Loader

In [2]:
%%time
refit = REFIT_Loader()

Followings are the general configuration of your experiment..
{'DATA_FOLDER': 'data/refit/', 'DATA_TYPE': '.csv', 'README_FILE': 'data/refit/REFIT_Readme.txt', 'REFIT_HOUSES': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21]}

Loading specified buildings: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21]
Parsing the readme file specified: data/refit/REFIT_Readme.txt
Wall time: 1.04 s

## Load data for selected house (all appliances)

In [3]:
%%time
house2 = refit.get_house_data(2)
house3 = refit.get_house_data(3)
house14 = refit.get_house_data(14)

Loading data for house = 2
Loading data for house = 3
House number = 14 does not exist.
Wall time: 16.3 s

In [4]:
type(house2)

pandas.core.frame.DataFrame

In [5]:
house2.head()

,unix,aggregate,fridge-freezer,washingmachine,dishwasher,television,microwave,toaster,hi-fi,kettle,ovenextractorfan
time,,,,,,,,,,,
2013-09-17 22:08:11,1379455691,695,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:18,1379455698,694,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:26,1379455706,694,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:34,1379455714,702,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:42,1379455722,700,88,0,0,0,0,0,0,0,0

## Fetch available appliances for a selected house

In [6]:
refit.get_appliance_names(house_number=2)

Fetching appliances for house = 2

['unix',
 'aggregate',
 'fridge-freezer',
 'washingmachine',
 'dishwasher',
 'television',
 'microwave',
 'toaster',
 'hi-fi',
 'kettle',
 'ovenextractorfan']

## Load data for selected appliance (all houses)

In [7]:
%%time
kettle = refit.get_appliance_data('Kettle', houses=[1,2,3])

Loading data for appliance KETTLE

House number = 1 does not have kettle
Fetching KETTLE data for House 2
Fetching KETTLE data for House 3
Wall time: 14.5 s

In [ ]:
type(kettle)

In [ ]:
kettle.resample()

## Load data for selected appliance (selected houses)

In [ ]:
%%time
kettle = refit.get_appliance_data('Kettle', houses=[1,2,14,15])

In [ ]:
kettle.data[15].head()