In [1]:
from loader.data_loader import REFIT_Loader

In [2]:
%%time
refit = REFIT_Loader()

Followings are the general configuration of your experiment..
{'DATA_FOLDER': 'data/refit/', 'DATA_TYPE': '.csv', 'README_FILE': 'data/refit/REFIT_Readme.txt', 'REFIT_HOUSES': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21]}

Loading specified buildings: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21]
Parsing the readme file specified: data/refit/REFIT_Readme.txt
Wall time: 520 ms

# Fetch the list of available appliances for selected houses

In [3]:
refit.get_appliance_names(house=2)

Fetching appliances for house = 2

['unix',
 'aggregate',
 'fridge-freezer',
 'washingmachine',
 'dishwasher',
 'television',
 'microwave',
 'toaster',
 'hi-fi',
 'kettle',
 'ovenextractorfan']

# Load data for selected house (all appliances)

In [4]:
%%time
house2 = refit.get_house_data(house=2)
house3 = refit.get_house_data(house=3)
house14 = refit.get_house_data(house=14)

Loading data for house = 2
Loading data for house = 3
House Number = 14 does not exist in the provided dataset.
Wall time: 17.9 s

In [5]:
house2.head()

,unix,aggregate,fridge-freezer,washingmachine,dishwasher,television,microwave,toaster,hi-fi,kettle,ovenextractorfan
time,,,,,,,,,,,
2013-09-17 22:08:11,1379455691,695,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:18,1379455698,694,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:26,1379455706,694,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:34,1379455714,702,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:42,1379455722,700,88,0,0,0,0,0,0,0,0

# Load data for selected appliance (all houses)

In [6]:
%%time
kettle = refit.get_appliance_data(appliance='Kettle')

Loading data for appliance KETTLE ...
Appliance 'KETTLE' does not exist in house 1. Hint: Check the availability of the appliance by using 'get_appliance_names' method
Fetching KETTLE data for House 2
Fetching KETTLE data for House 3
Fetching KETTLE data for House 4
Fetching KETTLE data for House 5
Fetching KETTLE data for House 6
Fetching KETTLE data for House 7
Fetching KETTLE data for House 8
Fetching KETTLE data for House 9
Appliance 'KETTLE' does not exist in house 10. Hint: Check the availability of the appliance by using 'get_appliance_names' method
Fetching KETTLE data for House 11
Fetching KETTLE data for House 12
Fetching KETTLE data for House 13
Fetching KETTLE data for House 15
Appliance 'KETTLE' does not exist in house 16. Hint: Check the availability of the appliance by using 'get_appliance_names' method
Fetching KETTLE data for House 17
Appliance 'KETTLE' does not exist in house 18. Hint: Check the availability of the appliance by using 'get_appliance_names' method
Fetching KETTLE data for House 19
Fetching KETTLE data for House 20
Appliance 'KETTLE' does not exist in house 21. Hint: Check the availability of the appliance by using 'get_appliance_names' method
Wall time: 3min 8s

# Load data for selected appliance and selected houses

In [7]:
%%time
kettle = refit.get_appliance_data(appliance="Kettle", houses=[1,2,3])

Loading data for appliance KETTLE ...
Appliance 'KETTLE' does not exist in house 1. Hint: Check the availability of the appliance by using 'get_appliance_names' method
Fetching KETTLE data for House 2
Fetching KETTLE data for House 3
Wall time: 26.1 s

In [8]:
kettle.data[2]

                     aggregate  kettle
time
2013-09-17 22:08:11        695       0
2013-09-17 22:08:18        694       0
2013-09-17 22:08:26        694       0
2013-09-17 22:08:34        702       0
2013-09-17 22:08:42        700       0
...                        ...     ...
2015-05-28 08:05:16        315       0
2015-05-28 08:05:23        333       0
2015-05-28 08:05:30        313       0
2015-05-28 08:05:37        316       0
2015-05-28 08:05:43        383       0

[5733526 rows x 2 columns]