In [1]:
from loader.data_loader import REFIT_Loader

In [2]:
refit = REFIT_Loader()

'Followings are the general configuration of your experiment..'

{'DATA_FOLDER': 'data/refit/', 'DATA_TYPE': '.csv', 'README_FILE': 'data/refit/REFIT_Readme.txt', 'REFIT_HOUSES': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21]}

'Loading specified buildings: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21]'

'Parsing the readme file specified: data/refit/REFIT_Readme.txt'

In [3]:
%%time
house2 = refit.get_house_data(2)
house3 = refit.get_house_data(3)
house14 = refit.get_house_data(14)

'Loading data for house = 2'

'Loading data for house = 3'

'House number = 14 does not exist.'

Wall time: 13.3 s

In [4]:
%%time
kettle = refit.get_appliance_data('Kettle', houses=[1, 2, 14, 15])

'Loading data for appliance KETTLE'

'House number = 1 does not have kettle'

'Fetching KETTLE data for House 2'

'House number = 14 does not exist.'

'Fetching KETTLE data for House 15'

Wall time: 14.1 s

In [5]:
house3

,unix,aggregate,toaster,fridge-freezer,freezer,tumbledryer,dishwasher,washingmachine,television,microwave,kettle
time,,,,,,,,,,,
2013-09-25 19:21:09,1380136869,387,0,0,86,0,0,0,145,0,0
2013-09-25 19:21:16,1380136876,386,0,0,86,0,0,0,144,0,0
2013-09-25 19:21:23,1380136883,383,0,0,86,0,0,0,144,0,0
2013-09-25 19:21:30,1380136890,388,0,0,87,0,0,0,145,0,0
2013-09-25 19:21:37,1380136897,388,0,0,86,0,0,0,145,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2015-06-02 10:55:14,1433242514,2674,0,0,0,0,0,1994,0,0,0
2015-06-02 10:55:21,1433242521,2435,0,0,0,0,0,1841,0,0,0
2015-06-02 10:55:28,1433242528,2453,0,0,0,0,0,1828,0,0,0
2015-06-02 10:55:35,1433242535,2733,0,0,0,0,0,1972,0,0,0
2015-06-02 10:55:42,1433242542,2638,0,0,0,0,0,3,0,0,0