In [8]:
from loader.data_loader import REFIT_Loader
from utils.active_durations import get_activities

In [9]:
refit = REFIT_Loader()

Followings are the general configuration of your experiment..
{'DATA_FOLDER': 'data/refit/', 'DATA_TYPE': '.csv', 'README_FILE': 'data/refit/REFIT_Readme.txt', 'REFIT_HOUSES': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21]}

Loading specified buildings: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21]
Parsing the readme file specified: data/refit/REFIT_Readme.txt

## Fetch activities for House 2 (all appliances)

In [10]:
%%time
house2 = refit.get_house_data(2)

Loading data for house = 2
Wall time: 5.72 s

In [11]:
%%time
house2activities = get_activities(house2)

Estimating active durations of fridge-freezer
Estimating active durations of washingmachine
Estimating active durations of dishwasher
Estimating active durations of television
Estimating active durations of microwave
Estimating active durations of toaster
Estimating active durations of hi-fi
Estimating active durations of kettle
Wall time: 31.1 s

In [15]:
house2activities['kettle'].head()

       Activity_Start        Activity_End  Duration
0 2013-09-18 06:20:14 2013-09-18 06:22:38  2.400000
1 2013-09-18 12:38:15 2013-09-18 12:41:24  3.150000
2 2013-09-18 12:42:00 2013-09-18 12:42:17  0.283333
3 2013-09-18 14:20:01 2013-09-18 14:21:39  1.633333
4 2013-09-18 15:58:08 2013-09-18 16:00:39  2.516667

## Fetch activities for Kettle (all houses)

In [13]:
%%time
kettle = refit.get_appliance_data('Kettle')

Loading data for appliance KETTLE

Fetching KETTLE data for House 2
Fetching KETTLE data for House 3
Fetching KETTLE data for House 4
Fetching KETTLE data for House 5
Fetching KETTLE data for House 6
Fetching KETTLE data for House 7
Fetching KETTLE data for House 8
Fetching KETTLE data for House 9
Fetching KETTLE data for House 11
Fetching KETTLE data for House 12
Fetching KETTLE data for House 13
Fetching KETTLE data for House 15
Fetching KETTLE data for House 17
Fetching KETTLE data for House 19
Fetching KETTLE data for House 20
Wall time: 1min 34s

In [14]:
%%time
activities = get_activities(kettle)

Estimating active durations of House 2: kettle
Estimating active durations of House 3: kettle
Estimating active durations of House 4: kettle
Estimating active durations of House 5: kettle
Estimating active durations of House 6: kettle
Estimating active durations of House 7: kettle
Estimating active durations of House 8: kettle
Estimating active durations of House 9: kettle
Estimating active durations of House 11: kettle
Estimating active durations of House 12: kettle
Estimating active durations of House 13: kettle
Estimating active durations of House 15: kettle
Estimating active durations of House 17: kettle
Estimating active durations of House 19: kettle
Estimating active durations of House 20: kettle
Wall time: 2min 31s

In [16]:
activities[20].head()

       Activity_Start        Activity_End  Duration
0 2014-03-20 17:05:48 2014-03-20 17:07:48  2.000000
1 2014-03-20 21:14:13 2014-03-20 21:16:02  1.816667
2 2014-03-21 05:23:14 2014-03-21 05:23:19  0.083333
3 2014-03-21 07:04:15 2014-03-21 07:06:16  2.016667
4 2014-03-21 13:12:15 2014-03-21 13:13:34  1.316667