In [1]:
from loader.data_loader import REFIT_Loader

In [2]:
refit = REFIT_Loader()

'Followings are the general configuration of your experiment..'

{'DATA_FOLDER': 'data/refit/', 'DATA_TYPE': '.csv', 'README_FILE': 'data/refit/REFIT_Readme.txt', 'REFIT_HOUSES': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21]}

'Loading specified buildings: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21]'

'Parsing the readme file specified: data/refit/REFIT_Readme.txt'

In [3]:
%%time
HOUSE1 = refit.get_house_data(2)
HOUSE2 = refit.get_house_data(4)
HOUSE3 = refit.get_house_data(3)

'Fetching data for house = 2'

'Fetching data for house = 4'

'Fetching data for house = 3'

Wall time: 11.2 s

In [4]:
%%time
KETTLE = refit.get_appliance_data('Kettle')

'Fetching data for appliance = Kettle'

Wall time: 1.99 ms

In [5]:
HOUSE1

,unix,aggregate,fridge-freezer,washing machine,dishwasher,television,microwave,toaster,hi-fi,kettle,oven extractor fan
time,,,,,,,,,,,
2013-09-17 22:08:11,1379455691,695,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:18,1379455698,694,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:26,1379455706,694,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:34,1379455714,702,88,0,0,0,0,0,0,0,0
2013-09-17 22:08:42,1379455722,700,88,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2015-05-28 08:05:16,1432800316,315,82,28,0,0,0,0,0,0,0
2015-05-28 08:05:23,1432800323,333,81,28,0,0,0,0,0,0,0
2015-05-28 08:05:30,1432800330,313,81,28,0,0,0,0,0,0,0
2015-05-28 08:05:37,1432800337,316,82,54,0,0,0,0,0,0,0
2015-05-28 08:05:43,1432800343,383,82,5,0,0,0,0,0,0,0