In [1]:
import pandas as pd

In [5]:
%%time
with open('data/refit/REFIT_Readme.txt') as f:
    content = f.readlines()
print(len(content))

240
Wall time: 0 ns

In [150]:
%%time
with open('REFIT_Readme.txt') as f:
    content = f.readlines()
print(len(content))

ls = {}
for i, s in enumerate(content):
    if 'House' in s.capitalize():
        keys, appliances = [], []
        house = s.split()[1]
        for indx in range(1, 6):
            if content[i+indx] == '\t!NOTES\n':
                break
            else:
                target = [value.split('.') for value in [value for value in content[i+indx].split(',') if value != '\n']]
                indx = [target_value[0] for target_value in target]
                values = [target_value[1] for target_value in target]
                keys.append([target_value[0] for target_value in target])
                appliances.append([target_value[1] for target_value in target])

        ls.update({house: {'appliances':  [item.split('\n')[0] for sublist in appliances for item in sublist], 'keys': [item for sublist in keys for item in sublist]}})

print(len(ls))
print(ls)
#         house.append(s.strip('\n'))
#             print(target)
#         print(target2)
#         print(target3)
#         print(target4)
        
        
#         house.append(s)
# #         print(house)
#         for value in target:
#             indx.append(value[0])
#             appliance.append(value[1])
# #         print(indx)
#         zipped = indx, appliance)
#         print(list(zipped))
            
            
    
#         target = target.split(',')
#         print(target)
#         print([i.split('.') for i in target])
        
#         a = [i.split('.') for i in target]
        
#         for item in a:
#             if item[0] != '\n':
#                 print(item)
#                 print(item[0])
#                 print(item[1])
        
#         indx = [t[0] for t in [i.split('.') for i in target]]
#         values = [t[1] for t in [i.split('.') for i in target]]
#         print(values)
#         zipped = zip(indx, house)
#         zipped = list(zipped)

20
{'1': {'appliances': ['Aggregate', 'Fridge', 'Chest Freezer', 'Upright Freezer', 'Tumble Dryer', 'Washing Machine', 'Dishwasher', 'Computer Site', 'Television Site', 'Electric Heater'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '2': {'appliances': ['Aggregate', 'Fridge-Freezer', 'Washing Machine', 'Dishwasher', 'Television', 'Microwave', 'Toaster', 'Hi-Fi', 'Kettle', 'Oven Extractor Fan'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '3': {'appliances': ['Aggregate', 'Toaster', 'Fridge-Freezer', 'Freezer', 'Tumble Dryer', 'Dishwasher', 'Washing Machine', 'Television', 'Microwave', 'Kettle'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '4': {'appliances': ['Aggregate', 'Fridge', 'Freezer', 'Fridge-Freezer', 'Washing Machine (1)', 'Washing Machine (2)', 'Computer Site', 'Television Site', 'Microwave', 'Kettle'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '5': {'appliances': ['Aggregate', 'Fridge-Freezer', 'Tumble Dryer 3', 'Dishwasher', 'Computer Site', 'Television Site', 'Combination Microwave', 'Kettle', 'Toaster'], 'keys': ['0', ' 1', ' 2', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '6': {'appliances': ['Aggregate', 'Freezer (Utility Room)', 'Washing Machine', 'Dishwasher', 'MJY Computer', 'Television Site', 'Microwave', 'Kettle', 'Toaster', 'PGM Computer'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '7': {'appliances': ['Aggregate', 'Fridge', 'Freezer (Garage)', 'Freezer', 'Tumble Dryer', 'Washing Machine', 'Dishwasher', 'Television Site', 'Toaster', 'Kettle'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '8': {'appliances': ['Aggregate', 'Fridge', 'Freezer', 'Dryer', 'Washing Machine', 'Toaster', 'Computer', 'Television Site', 'Microwave', 'Kettle'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '9': {'appliances': ['Aggregate', 'Fridge-Freezer', 'Washer Dryer', 'Washing Machine', 'Dishwasher', 'Television Site', 'Microwave', 'Kettle', 'Hi-Fi', 'Electric Heater'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '10': {'appliances': ['Aggregate', 'Magimix (Blender)', 'Freezer', 'Chest Freezer (In Garage)', 'Fridge-Freezer', 'Washing Machine', 'Dishwasher', 'Television Site', 'Microwave', ' Kenwood KMix'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '11': {'appliances': ['Aggregate', 'Fridge', 'Fridge-Freezer', 'Washing Machine', 'Dishwasher', 'Computer Site', 'Microwave', 'Kettle', 'Router', 'Hi-Fi'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '12': {'appliances': ['Aggregate', 'Fridge-Freezer', 'Television Site(Lounge)', 'Microwave', 'Kettle', 'Toaster', 'Television Site(Bedroom)', 'Not Used', 'Not Used', 'Not Used'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '13': {'appliances': ['Aggregate', 'Television Site', 'Unknown', 'Washing Machine', 'Dishwasher', 'Tumble Dryer', 'Television Site', 'Computer Site', 'Microwave', 'Kettle'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '15': {'appliances': ['Aggregate', 'Fridge-Freezer', 'Tumble Dryer', 'Washing Machine', 'Dishwasher', 'Computer Site', 'Television Site', 'Microwave', 'Kettle ', 'Toaster'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '16': {'appliances': ['Aggregate', 'Fridge-Freezer (1)', 'Fridge-Freezer (2)', 'Electric Heater (1)?', 'Electric Heater (2)', 'Washing Machine', 'Dishwasher', 'Computer Site', 'Television Site', 'Dehumidifier/Heater'], 'keys': ['0', ' 1', ' 2', ' 3', '4', ' 5', ' 6', ' 7', '8', ' 9']}, '17': {'appliances': ['Aggregate', 'Freezer (Garage)', 'Fridge-Freezer', 'Tumble Dryer (Garage)', 'Washing Machine', 'Computer Site', 'Television Site', 'Microwave', 'Kettle', 'Plug Site (Bedroom)'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '18': {'appliances': ['Aggregate', 'Fridge(garage)', 'Freezer(garage)', 'Fridge-Freezer', 'Washer Dryer(garage)', 'Washing Machine', 'Dishwasher', 'Desktop Computer', 'Television Site', 'Microwave'], 'keys': ['0', ' 1', ' 2', ' 3', '4', ' 5', ' 6', ' 7', '8', ' 9']}, '19': {'appliances': ['Aggregate', 'Fridge & Freezer', 'Washing Machine', 'Television Site', 'Microwave', 'Kettle', 'Toaster', 'Bread-maker', 'Lamp (80Watts)', 'Hi-Fi'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', '5', ' 6', ' 7', ' 8', ' 9']}, '20': {'appliances': ['Aggregate', 'Fridge', 'Freezer', 'Tumble Dryer', 'Washing Machine', 'Dishwasher', 'Computer Site', 'Television Site', 'Microwave', 'Kettle'], 'keys': ['0', ' 1', ' 2', ' 3', ' 4', ' 5', '6', ' 7', ' 8', ' 9']}, '21': {'appliances': ['Aggregate', 'Fridge-Freezer', 'Tumble Dryer', 'Washing Machine', 'Dishwasher', 'Food Mixer', 'Television', 'Kettle/Toaster', 'Vivarium', 'Pond Pump'], 'keys': ['0', ' 1', ' 2', ' 3', '4', ' 5', ' 6', ' 7', ' 8', ' 9']}}

In [52]:
# dataframe = pd.DataFrame('House': house, )

SyntaxError: invalid syntax (<ipython-input-52-44c19c54d254>, line 1)

In [151]:
import pickle

# define dictionary

# create a binary pickle file 
f = open("file.pkl","wb")

# write the python object (dict) to pickle file
pickle.dump(ls,f)

# close file
f.close()

In [161]:
import pickle

nested_dict  = pickle.load( open("file.pkl", "rb") )
# nested_dict

In [202]:
all_appliances = []
for outerKey, innerDict in nested_dict.items():
#     print(outerKey)
    all_appliances.append(innerDict['appliances'])
#         for keys, values in innerMostDict['appliance']:
#             all_appliances.append(app)
# all_appliances

In [211]:
a = [item for sublist in all_appliances for item in sublist]
pd.Series(a).unique()

array(['Aggregate', 'Fridge', 'Chest Freezer', 'Upright Freezer',
       'Tumble Dryer', 'Washing Machine', 'Dishwasher', 'Computer Site',
       'Television Site', 'Electric Heater', 'Fridge-Freezer',
       'Television', 'Microwave', 'Toaster', 'Hi-Fi', 'Kettle',
       'Oven Extractor Fan', 'Freezer', 'Washing Machine (1)',
       'Washing Machine (2)', 'Tumble Dryer 3', 'Combination Microwave',
       'Freezer (Utility Room)', 'MJY Computer', 'PGM Computer',
       'Freezer (Garage)', 'Dryer', 'Computer', 'Washer Dryer',
       'Magimix (Blender)', 'Chest Freezer (In Garage)', ' Kenwood KMix',
       'Router', 'Television Site(Lounge)', 'Television Site(Bedroom)',
       'Not Used', 'Unknown', 'Kettle ', 'Fridge-Freezer (1)',
       'Fridge-Freezer (2)', 'Electric Heater (1)?',
       'Electric Heater (2)', 'Dehumidifier/Heater',
       'Tumble Dryer (Garage)', 'Plug Site (Bedroom)', 'Fridge(garage)',
       'Freezer(garage)', 'Washer Dryer(garage)', 'Desktop Computer',
       'Fridge & Freezer', 'Bread-maker', 'Lamp (80Watts)', 'Food Mixer',
       'Kettle/Toaster', 'Vivarium', 'Pond Pump'], dtype=object)

In [143]:
 
reformed_dict = {}
for outerKey, innerDict in nested_dict.items():
    for innerKey, values in innerDict.items():
        reformed_dict[(outerKey,
                       innerKey)] = values

reformed_dict

# multiIndex_df = pd.DataFrame(reformed_dict)
# multiIndex_df

ValueError: arrays must all be same length

In [122]:
len(reformed_dict[('1', 'appliances')])

10

In [148]:
reformed_dict[('4', 'appliances')]

['Aggregate',
 'Fridge',
 'Chest Freezer',
 'Upright Freezer',
 'Tumble Dryer',
 'Washing Machine',
 'Dishwasher',
 'Computer Site',
 'Television Site',
 'Electric Heater',
 'Aggregate',
 'Fridge-Freezer',
 'Washing Machine',
 'Dishwasher',
 'Television',
 'Microwave',
 'Toaster',
 'Hi-Fi',
 'Kettle',
 'Oven Extractor Fan',
 'Aggregate',
 'Toaster',
 'Fridge-Freezer',
 'Freezer',
 'Tumble Dryer',
 'Dishwasher',
 'Washing Machine',
 'Television',
 'Microwave',
 'Kettle',
 'Aggregate',
 'Fridge',
 'Freezer',
 'Fridge-Freezer',
 'Washing Machine (1)',
 'Washing Machine (2)',
 'Computer Site',
 'Television Site',
 'Microwave',
 'Kettle']

In [123]:
len(reformed_dict[('1', 'keys')])

10

In [135]:
for house in range(0,21):
    if house+1 == 14:
        pass
    else:
        appliance_array = len(reformed_dict[(str(house+1), 'appliances')])
        keys_array = len(reformed_dict[(str(house+1), 'keys')])
        print(appliance_array==keys_array)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [214]:
house_1=pd.read_csv("data/refit/House_1.csv")

In [215]:
house_1

,Time,Unix,Aggregate,Appliance1,Appliance2,Appliance3,Appliance4,Appliance5,Appliance6,Appliance7,Appliance8,Appliance9
0,2013-10-09 13:06:17,1381323977,523,74,0,69,0,0,0,0,0,1
1,2013-10-09 13:06:31,1381323991,526,75,0,69,0,0,0,0,0,1
2,2013-10-09 13:06:46,1381324006,540,74,0,68,0,0,0,0,0,1
3,2013-10-09 13:07:01,1381324021,532,74,0,68,0,0,0,0,0,1
4,2013-10-09 13:07:15,1381324035,540,74,0,69,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6960003,2015-07-10 11:56:05,1436529365,187,0,45,0,0,0,0,0,0,1
6960004,2015-07-10 11:56:12,1436529372,185,0,45,0,0,0,0,0,0,1
6960005,2015-07-10 11:56:18,1436529378,181,0,45,0,0,0,0,0,0,1
6960006,2015-07-10 11:56:25,1436529385,186,0,45,0,0,0,0,0,0,1
6960007,2015-07-10 11:56:32,1436529392,182,0,45,0,0,0,0,0,0,1

In [222]:
nested_dict['1']['appliances']

['Aggregate',
 'Fridge',
 'Chest Freezer',
 'Upright Freezer',
 'Tumble Dryer',
 'Washing Machine',
 'Dishwasher',
 'Computer Site',
 'Television Site',
 'Electric Heater']

In [241]:
for house in range(1, len(nested_dict)):
    print(house)
    for i in range(1, len(nested_dict[str(house)]['appliances'])):
        print(i)
        house_1.rename({f'Appliance{i}': nested_dict[str(house)]['appliances'][i]}, axis=1, inplace=True)

IndentationError: expected an indented block (<ipython-input-241-1cdb7685244d>, line 3)

In [240]:
house_1

,Time,Unix,Aggregate,Fridge,Chest Freezer,Upright Freezer,Tumble Dryer,Washing Machine,Dishwasher,Computer Site,Television Site,Electric Heater
0,2013-10-09 13:06:17,1381323977,523,74,0,69,0,0,0,0,0,1
1,2013-10-09 13:06:31,1381323991,526,75,0,69,0,0,0,0,0,1
2,2013-10-09 13:06:46,1381324006,540,74,0,68,0,0,0,0,0,1
3,2013-10-09 13:07:01,1381324021,532,74,0,68,0,0,0,0,0,1
4,2013-10-09 13:07:15,1381324035,540,74,0,69,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6960003,2015-07-10 11:56:05,1436529365,187,0,45,0,0,0,0,0,0,1
6960004,2015-07-10 11:56:12,1436529372,185,0,45,0,0,0,0,0,0,1
6960005,2015-07-10 11:56:18,1436529378,181,0,45,0,0,0,0,0,0,1
6960006,2015-07-10 11:56:25,1436529385,186,0,45,0,0,0,0,0,0,1
6960007,2015-07-10 11:56:32,1436529392,182,0,45,0,0,0,0,0,0,1