In [1]:
# from load_csv import CSV_Loader
from configs.configuration import dataset_config

In [25]:
import pandas as pd
class CSV_Loader():
    """
    
    """
    try:
        def __init__(self):
            pass
        
        @staticmethod
        def _load_csv(csv_file_path, index_col_name):
            _load_csv_file = pd.read_csv(csv_file_path, index_col=index_col_name)
            _load_csv_file.index = pd.to_datetime(_load_csv_file.index, utc=True).tz_localize(None)
#             df = df.groupby(df.index).mean()
            return _load_csv_file
            

    except Exception as e:
        display("Error occured in initialization of CSV loader due to ", e)

In [26]:
ob = CSV_Loader()

In [27]:
ob._load_csv(csv_file_path=dataset_config['REFIT_DATA_PATH'], index_col_name='Time')

,Unix,Aggregate,Appliance1,Appliance2,Appliance3,Appliance4,Appliance5,Appliance6,Appliance7,Appliance8,Appliance9
Time,,,,,,,,,,,
2013-10-09 13:06:17,1381323977,523,74,0,69,0,0,0,0,0,1
2013-10-09 13:06:31,1381323991,526,75,0,69,0,0,0,0,0,1
2013-10-09 13:06:46,1381324006,540,74,0,68,0,0,0,0,0,1
2013-10-09 13:07:01,1381324021,532,74,0,68,0,0,0,0,0,1
2013-10-09 13:07:15,1381324035,540,74,0,69,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
2015-07-10 11:56:05,1436529365,187,0,45,0,0,0,0,0,0,1
2015-07-10 11:56:12,1436529372,185,0,45,0,0,0,0,0,0,1
2015-07-10 11:56:18,1436529378,181,0,45,0,0,0,0,0,0,1
2015-07-10 11:56:25,1436529385,186,0,45,0,0,0,0,0,0,1
2015-07-10 11:56:32,1436529392,182,0,45,0,0,0,0,0,0,1